<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" CONTENT="text/html; charset=utf8">
    <title>Tian-Liang Huang's Homepage</title>
    <style type="text/css">
    a{text-decoration: none;}
    </style>
  </head>
  <body bgcolor="#BBFFFF">
    <font face="Verdana">
    <center><h1>Welcome to Tian-Liang Huang's Homepage</h1></center>
    <!--<a href="cindex.htm"><img src="ch_version.png" border=0></a><br>-->
    <img src="http://w.csie.org/~b93098/mypic.png" width=150pt border=0><br>
    <img src="static/name.png" border=0><br>
    <img src="static/email.png" border=0><br>
    <a href="http://w.csie.org/~r97002/resume-ver2.pdf">My Curriculum Vitae</a><br>
    <img src="static/taiwan_flag_small.png"/>
    <h2>Education</h2>
    M.Eng. in Computer Science, <a href="http://tech.cornell.edu/">Jacobs Technion-Cornell Institute (Cornell Tech)</a>, <a href="http://www.cornell.edu">Cornell University</a> (2015-2016)<br>
    M.S., <a href="http://www.csie.ntu.edu.tw">Department of Computer Science and Information Engineering</a>, <a href="http://www.ntu.edu.tw">National Taiwan University</a> (2008-2010)<br>
    B.S., <a href="http://www.csie.ntu.edu.tw">Department of Computer Science and Information Engineering</a>, <a href="http://www.ntu.edu.tw">National Taiwan University</a> (2004-2008)<br>
    <a href="http://www.kshs.kh.edu.tw">Kaohsiung Senior High School</a> (2001-2004)<br>
    <a href="http://www.fjm.ks.edu.tw">Feng-Chia Junior High School</a> (1998-2001)<br>
    <a href="http://163.16.41.8/">Hsin-Chya Elementary School</a> (1992-1998)<br>
    <hr>
    <h2>Research</h2>
    Machine learning, data mining and data analysis<br>
    <hr>
    <h2>Experience</h2>
    <h3>Work</h3>
    Engineer, Waystorm, Taipei, Taiwan (Dec. 2014 - Jun. 2015)<br>
    Machine Learning Software Engineer, Cellopoint, New Taipei, Taiwan (Jun. 2013 - Sep. 2014)<br>
    Research Assistant, Academia Sinica, Taipei, Taiwan (Oct. 2011 - May. 2013)<br>
    <h3>Military Service</h3>
    Chief counselor (second lieutenant), Reserve command, Ministry of National Defense (Mar. 2011 - Sep. 2011)<br>
    Specialized training in political warfare(partially equivalent to psychological warfare), Political Warfare Education and Training Center, College of Political Warfare, National Defense University, Taipei, Taiwan (Dec. 2010 - Feb. 2011)<br>
    Elementary training, ChengKung Hill, Taichung, Taiwan (Oct. 2010 - Dec. 2010)<br>
    <h3>Honor</h3>
    <h3><i>Award</i></h3>
    <b>Bronze Award</b>, ACM Asia Regional Kaohsiung Site 2006, National Sun Yat-Sen University, Kaohsiung, Taiwan<br>
    <b>Fourth Place</b>, National Problem Solving Contest 2003, National Taiwan University, Taipei, Taiwan<br>
    <b>Third Place</b>, Taiwan Problem Solving Contest 2003, National Chiao Tung University, Hsinchu, Taiwan<br>
    <b>Tenth Place</b>, Taiwan Problem Solving Contest 2002, National Chiao Tung University, Hsinchu, Taiwan<br>
    <b>Third Place</b>, Kaohsiung City Contest in Informatics 2003, Kaohsiung, Taiwan<br>
    <h3><i>Scholarship</i></h3>
    Scholarship in memory of Jian Ding for Kaohsiung Senior High School Alumni 2008<br>
    Scholarship of Kaohsiung Municipal Kaohsiung Senior High School Alumni 2010<br>
    <!--
    <h3>Associations Attended in National Taiwan University</h3>
    NTU Graduates Association<br>
    NTU Student Congress<br>
    IEEE NTU Student Branch<br>
    Egg Study Club<br>
    Hakka Club<br>
    Model United Nations Club<br>
    International Seers Organisation<br>
    Taiwan-Japan Student Conference<br>
    NTU Student Council<br>
    -->
    <h3>Extracurriculum Activities</h3>
    <dl>
    <!--
    <dt><b>NTU Student Congress</b></dt>
    <dd>Representative (Sep. 2009-Jun. 2010)</dd>
    <dt><b>IEEE NTU Student Branch</b></dt>
    <dd>Chairman (2009-2010)</dd>
    <dd>Executive Secretary (2008-2009)</dd>
    <dd>Activities Director (2007-2008)</d>
    <dt><b>Egg Study Club</b></dt>
    <dd>Director of Academics (Feb. 2009-Jun. 2009)</dd>
    <dd>Director of Photography (Sep. 2008-Jan. 2009)</dd>
    <dt><b>Hakka Club</b></td>
    <dd>Director of Activities (2007-2008)</dd>
    <dt><b>Model United Nations Club</b></dt>
    <dd>Co-chair of United Nations Development Programme Committee in National MUN 2007, Taipei, Taiwan</dd>
    <dd>Director of information services in National MUN 2006, Taipei, Taiwan</dd>
    <dd>Executive in information services in National Taiwan University Model United Nations Club (2005-2006)</dd>
    <dd>Participation in Harverd World MUN 2006, Beijing, P.R.China (committee of International Atomic Energy Agency)</dd>
    <dd>Participation in National MUN 2004/2005/2008, Taipei, Taiwan</dd>
    -->
    <dt><b>Miscellaneous</b></dt>
    <dd>Participation in ICISTS-KAIST 2009, Daejeon, Republic of Korea</dd>
    <dd>Staff(Director of Multimedia) in <a href="http://gis-taiwan.ntu.edu.tw">GIS Taiwan 2010, Taipei, Taiwan</a></dd>
    <dd>Staff(General Services) in <a href="http://gis-taiwan.ntu.edu.tw/2009/">GIS Taiwan 2009, Taipei, Taiwan</a></dd>
    <dd>Staff(photography and activities) in NTU Graduate Student Orientation 2009 Stage 1, Taipei, Taiwan</dd>
    <dd>Counselor in Wu Chien-Hsiung Science Camp 2008, Nantou, Taiwan</dd>
    <dd>Counselor in Asian Science Camp 2007, Taipei, Taiwan</dd>
    <dd>Volunteer in Wikimania 2007, Taipei, Taiwan</dd>
    <!--<dd>Participation in National Policy Conference for Youth 2006, Culture University, Taipei, Taiwan</dd>-->
    <dd>Participation in Asian Pacific Mathematics Olympiad(APMO) 2004, Academia Sinica, Taipei, Taiwan</dd>
    <dd>Participation in National Science Contest in Informatics 2003, Tamkang University, New Taipei, Taiwan</dd>
    </dl>
    <hr>
    <h2>Works</h2>
    <a href="http://w.csie.org/~r97002/98graduateseason">NTU Graduate Season 2010</a><br>
    Volunteer in <a href="http://wikimania2007.wikimedia.org/wiki/Main_Page">Wikimania 2007</a> held in Taipei<br>
    <hr>
    <!--
    <h2>Interest</h2>
    Japanese comics/animation<br>
    ‧<a href="http://www.ginei.jp/">銀河英雄伝説</a><br>
    ‧<a href="http://www.gainax.co.jp/anime/eva/">新世紀エヴァンゲリオン</a><br>
    ‧<a href="http://www.saikano.net/">最終兵器彼女</a><br>
    ‧<a href="http://www.kokaku-s.com/root.html">攻殻機動隊</a><br>
	‧<a href="http://www.haruhi.tv/">涼宮ハルヒの憂鬱</a><br>
    To be watched<br>
    ‧<a href="http://www.jvcmusic.co.jp/m-serve/last-exile/">LASTEXILE</a><br>
    Programming (C: Good; C++, PHP, Perl, Python, MATLAB: Poor)<br>
    Western music, especially oldies<br>
    Taiwan history, geography and politics<br>
    Baking cakes<br>
    Traveling by scooter<br>
    Photography<br>
    <hr>
    -->
    <h2>Recommended Links</h2>
    <a href="http://www.hakkatv.org.tw/" target="_blank">Hakka TV</a><br>
    <a href="http://www.hakka.gov.tw/" target="_blank">Council for Hakka Affairs, Executive Yuan, Taiwan</a><br>
    <a href="http://elearning.hakka.gov.tw/kaga/Kaga_news.aspx" target="_blank">Hakka E-Learning Center</a><br>
    <a href="http://www.fongshan.gov.tw/" target="_blank">Fongshan District Office(the former Fongshan City Hall)</a><br>
    <a href="http://www.kscg.gov.tw/" target="_blank">Fongshan Administration Center(the former Kaohsiung County Government)</a><br>
    <a href="http://en.wikipedia.org/wiki/Republic_of_China" target="_blank">Know more about my country Taiwan</a><br>
    <a href="http://www.taiwanunme.tw/ch/mp.asp?mp=1" target="_blank">Please support Taiwan to join United Nations</a><br>
    <a href="http://www.ieee.org.tw/chapters/?web_class=35" target="_blank">IEEE NTU Student Branch</a><br>
    <h2>Programming contest related links</h2>
    <a href="http://www.wretch.cc/blog/robertanders">Robert Anderson's Blog</a><br>
    <a href="http://www.algorithmist.com/index.php/Category:UVa_Online_Judge">Algorithmist</a><br>
    <a href="http://www.csie.ntnu.edu.tw/~u91029/index.html">Algorithms Notes</a><br>
    <a href="http://richter.pixnet.net/blog">Map Talks</a><br>
    <a href="http://www.ioinformatics.org/loc.shtml">IOI Locations and Problem Sets</a>
    <h2>GRE Materials</h2>
    <a href="http://sovereignty.idv.tw/?page_id=4765">GRE Word Empire</a><br>
    <a href="http://yuaneducation.wordpress.com/2011/07/15/gre-resources/">GRE Resources</a><br>
    <h2>Radio Program Online</h2>
    <a href="http://www.sky.fm">Sky.fm</a><br>
    <a href="http://www.mediayou.net/web/index.asp?lan=twn">MediaU</a><br>
    <h2>Others</h2>
    <a href="http://instacss.com/">InstaCSS</a><br>
    <a href="http://time.artjoey.com/index.html">World Time(Chinese)</a><br>
  </body>
</html>

<!--<a href=""></a><br>-->
